<h1><%= @machine.location %> Vending Machine</h1>

<p>Average Price: <%= @average_price %></p>

<% @machine.snacks.each do |snack| %>
  <p><%= snack.name%></p>
  <p>Price: <%= number_to_currency(snack.price) %></p>
<% end %>
